<div class="login-header">
  <div class="login-header__logo" (click)="navigateToMainPage()">
    FashionApp
  </div>
  <div class="login-header__create-account">
    <a href="create-account">Create Account</a>
  </div>
</div>

<div class="login-form">
  <form [formGroup]="loginForm">
    <h1 class="login-form__header">Log In</h1>
    <div class="login-form__container">
      <label for="login-username" class="label">Username</label>
      <input type="text" id="login-username" formControlName="username">
    </div>
    <div class="login-form__container">
      <label for="login-password" class="label">Password</label>
      <input type="password" id="login-password" formControlName="password">
    </div>
    <button class="login-form__btn" (click)="logIn()" [disabled]="!loginForm.valid">
      Log In
    </button>
  </form>
</div>
