<div class="header-container">
  <div class="header-container__logo" (click)="redirectToMainPage()">FashionApp</div>
  <div class="header-container__search-bar">
    <input type="text" class="header-container__search-bar__input" placeholder="search for item">
  </div>
  <div *ngIf="tokenStorage.getToken()" class="header-container__add-product">
    <a href="add-product">Add product</a>
  </div>
  <div *ngIf="!tokenStorage.getToken()" class="header-container__log-in">
    <a href="login">Log In</a>
  </div>
  <div *ngIf="!tokenStorage.getToken()" class="header-container__create-account">
    <a href="create-account">Create Account</a>
  </div>
</div>
